{% extends "base.html" %}
{% block title %}Error{% endblock %}
{% block content %}
    
        <p>
                <div class='header'> Fucking shit!!!</div><p>
                        <div class='header'> <font style='color: #aa0000'><b><i> 404:</i></b></font> page not found </div><p>
                                <div class='content'> Go back<a href='/'> home</a>!</div>
                                        </p>
                                            
                                        {% endblock %}
