<hr>
    <div class="sub"><h4>Folow us:</h4>
        <ul>
            <li><a href='https://www.facebook.com/michaluchRv'><img src="{{url_for('static', filename='img/facebook.png')}}" class='folowimages'></a></li>
            <li><a href='https://www.twitter.com/@Michaluch'><img src="{{url_for('static', filename='img/twitter.png')}}" class='folowimages'></a></li>
            <li><a href='https://plus.google.com/+МихайлоОмельчук'><img src="{{url_for('static', filename='img/google_plus.png')}}" class='folowimages'></a></li>
            <li><a href='https://ua.linkedin.com/in/michaluch/en'><img src="{{url_for('static', filename='img/linkedin.png')}}" class='folowimages'></a></li>
        </ul>
    </div>
<div class="sub"><h4>Powered by:</h4>
        <ul align='center'>
            <li><a href='http://flask.pocoo.org/'><img src="{{url_for('static', filename='img/flask.png')}}" class='folowimages'></a></li>
            <li><a href='http://www.mongodb.com/'><img src="{{url_for('static', filename='img/mongodb.png')}}" class='poweredimages'></a></li>
        </ul></div>
<div class="sub"><h4>Contact us:</h4>
        <ul>
            <li><a href='mailto:siteofmichal@gmail.com'>Gmail</a></li>
            
        </ul></div>
